{% extends 'index.html' %}

{% block content %}
<div class="banner">
    <h1 class="titulo">
        Viagens de ônibus mais baratas que a passagem da rodoviaria
    </h1>
    <h2 class="subtitulo">
        Sem taxas, com segurança e preço justo
    </h2>
</div>

<div class="container-busca">
    <div class="buscador">
        <form action="/index.html" method="post">
            <label for="origem">Saindo de</label>
            <input type="text" name="cidade_origem" id="origem" placeholder="Digite uma cidade de partida">
            <label for="destino">Indo para</label>
            <input type="text" name="cidade_origem" id="destino" placeholder="Digite uma cidade de ida">
            <label for="data_ida">Data de ida</label>
            <input type="date" name="data_ida" id="data_ida" class="input_data" placeholder="Ida">
            <label for="data_volta">Data de volta</label>
            <input type="date" name="data_volta" id="data_volta" class="input_data" placeholder="Ida">
            <button type="submit" href="">Buscar</button>
        </form>
    </div>
</div>
{% endblock %}