{% extends 'index.html' %}

{% block content %}


    <form class="login_form" method="post">
        {% csrf_token %}

        <div class="form-group">
            {{form_usuario.username.errors}}
            <label>Nome de usuário: </label>
            {{form_usuario.username}}
        </div>

        <div class="form-group">
            {{form_usuario.password1.errors}}
            <label>Senha: </label>
            {{form_usuario.password1}}
        </div>

        <div class="form-group">
            {{form_usuario.password2.errors}}
            <label>Digite a senha novamente: </label>
            {{form_usuario.password2}}
        </div>

        <div class="form-botoes">
            <input type="submit" value="Cadastrar" class="btn-primary">
            <input type="submit" value="Ir para login"class="btn-primary" formaction="{% url 'cadastrar_usuario' %}">
        </div>
    </form>
{% endblock %}
