{% extends 'index.html' %}

{% block content %}
    
    <form class="login_form" method="post" >
        {% csrf_token %}
        <h4>Digite seu usuário e senha. Caso seja um novo usuário, digite um nome de usuário e senha e clique em "Cadastrar"</h4>
        <br>
        <div class="form-group">
            {{form_login.username.errors}}
            <label>Nome de Usuário: </label>
            {{form_login.username}}
        </div>

        <div class="form-group">
            {{form_login.password.errors}}
            <label>Senha: </label>
            {{form_login.password}}
        </div>

        <div class="form-botoes">
            <input type="submit" value="Login" class="btn-primary">
            <input type="submit" value="Cadastrar"class="btn-primary" formaction="{% url 'cadastrar_usuario' %}">
        </div>
    </form>
{% endblock %}