{% extends 'index.html' %}

{% block content %}
<h1 class="prox_viagem">Próximas viagens</h1>
    <div class="container-ofertas">
        
        {% for post in posts %}
            <div class="viagem_post">
                {% comment %} <p>Publicado: {{ post.published_date }}</p> {% endcomment %}
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}